
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form action="/find" method="GET" enctype="multipart/form-data">
            <input name = "creationCode" value = {{results.query.creationCode}} hidden></input><br>
            <input type="radio" name="action" value="take"> Take</input> <br>
            <input type="radio" name="action" value="grade"> Grade</input><br>
            <input type="radio" name="action" value="answer"> Answer Key</input><br>
            <input type="radio" name="action" value="edit"> Edit</input><br>
            <input type="radio" name="action" value="submissions">View Submissions</input><br>
            <button>Go</button>
          </form>
        </div>
      </div>
    </div>